CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_AUTO_SCAN=y
# CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF is not set
CONFIG_DEBUG_KMEMLEAK_MEM_POOL_SIZE=16000
CONFIG_DEBUG_KMEMLEAK_TEST=m
CONFIG_KASAN_GENERIC=y
CONFIG_KASAN_SHADOW_OFFSET=0xdfffffd000000000
# CONFIG_TEST_KASAN is not set
CONFIG_FRAME_WARN=4096

