CONFIG_PACKAGE_mwctl=y
CONFIG_MTK_WIFI7_CFG80211_SUPPORT=y
# CONFIG_PACKAGE_hostapd is not set
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_hostapd-utils=y
CONFIG_PACKAGE_wpa-cli=y
CONFIG_MTK_WIFI7_HOSTAPD_MBSS_SUPPORT=y
CONFIG_MTK_WIFI7_APCLI_SUPPLICANT_SUPPORT=y
CONFIG_PACKAGE_libwpactrl=y
CONFIG_WAPP_WPACTRL_SUPPORT=y
CONFIG_WPA_MSG_MIN_PRIORITY=0
CONFIG_PACKAGE_logrotate=y
