CONFIG_PACKAGE_1905daemon=y
CONFIG_PACKAGE_apcli_detectd=y
CONFIG_PACKAGE_mapd=y
CONFIG_MAP_R2_SUPPORT=y
CONFIG_MAP_R3_SUPPORT=y
CONFIG_MAP_R4_SUPPORT=y
CONFIG_MAP_R5_SUPPORT=y
CONFIG_MTK_WIFI7_MAP_R6_SUPPORT=y
CONFIG_MTK_MAP_VENDOR_SUPPORT=y
CONFIG_MTK_WIFI7_REPORT_CH_TXPWR_SUPPORT=y
CONFIG_MTK_WIFI7_MAP_VENDOR_SUPPORT=y
CONFIG_MTK_WIFI7_MAP_R2_VER_SUPPORT=y
CONFIG_MTK_WIFI7_MAP_R3_VER_SUPPORT=y
CONFIG_MTK_WIFI7_MAP_R4_VER_SUPPORT=y
CONFIG_MTK_WIFI7_MAP_R5_VER_SUPPORT=y
CONFIG_MTK_WIFI7_MAP_R2_6E_SUPPORT=y
CONFIG_MTK_WIFI7_MAP_R3_6E_SUPPORT=y
CONFIG_MTK_WIFI7_MAP_HOSTAPD_SUPPORT=y
CONFIG_PACKAGE_miniupnpd=y
CONFIG_MTK_WIFI7_STANDARD_NL_SUPPORT=y
CONFIG_MTK_WIFI7_BS_MAP_BL_SUPPORT=y

