# CONFIG_PACKAGE_kmod-macsec is not set
# CONFIG_PACKAGE_libwpactrl is not set

# CONFIG_PACKAGE_sigma_daemon is not set
# CONFIG_PACKAGE_sigma_dut is not set
# CONFIG_PACKAGE_wapp is not set
# CONFIG_SUPPORT_LSDK_NVRAM_CMD is not set

# CONFIG_MTK_WIFI7_FPGA_MODE is not set
# CONFIG_MTK_WIFI7_PASSPOINT_R2 is not set
# CONFIG_MTK_WIFI7_TR181_SUPPORT is not set

# CONFIG_MTK_WIFI7_ANTENNA_CONTROL_SUPPORT is not set
# CONFIG_MTK_WIFI7_MGMT_TXPWR_CTRL is not set
# CONFIG_MTK_WIFI7_AMPDU_CONF_SUPPORT is not set
# CONFIG_MTK_WIFI7_ACK_CTS_TIMEOUT_SUPPORT is not set
# CONFIG_MTK_WIFI7_EAP_QUICK_CHANNEL_SWITCH_WITHOUT_CSA is not set
# CONFIG_MTK_WIFI7_LED_CONTROL_SUPPORT is not set
# CONFIG_MTK_WIFI7_VERIFICATION_MODE is not set
# CONFIG_MTK_WIFI7_DFS_SLAVE_SUPPORT is not set
# CONFIG_PACKAGE_kmod-mtfwd is not set
# CONFIG_PACKAGE_kmod-mtqos is not set
CONFIG_PACKAGE_kmod-pce=y
# CONFIG_PACKAGE_kmod-pce-autoload is not set
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_mtk-base-files=y
CONFIG_PACKAGE_mtk_factory_rw=y
